- content_for :header_content do
  .row-fluid
    .span8.offset2
      .page-header
        %h2
          Resend confirmation instructions
          .row-fluid
            %small
              Fill out your email and we'll resend you confirmation instructions
.row-fluid
  .span8.offset2
    .hero-unit
      = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { class: 'form', :method => :post }) do |f|
        = devise_error_messages!
        %fieldset
          .control-group
            = f.label :email, class: 'control-label', for: 'input-email'
            .controls
              = f.email_field :email, id: 'input-email'
          .control-group
            .controls
              = f.submit "Resend confirmation instructions", class: 'btn btn-primary'
          .control-group
            .controls
              = render "devise/shared/links"
