.hero-unit
  %h2 
    Change your user details
  %p.lead
    You can edit most of your user information from this page.
    If you need assistance please
    %a{href: '/pages/contact'}= "contact"
    the administrator.
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: 'form-horizontal', :method => :put }) do |f|
    = devise_error_messages!
    %fieldset
      .control-group
        = f.label :email, class: 'control-label', for: 'input-email'
        .controls
          = f.email_field :email, id: 'input-email'
      .control-group
        = f.label :display_name, class: 'control-label', for: 'input-display-name'
        .controls
          = f.text_field :display_name, id: 'input-display-name'
      .control-group
        = f.label :password, class: 'control-label', for: 'input-password'
        .controls
          = f.password_field :password, id: 'input-password'
      .control-group
        = f.label :password_confirmation, class: 'control-label', for: 'input-password-confirmation'
        .controls
          = f.password_field :password_confirmation, id: 'input-password-confirmation'
      .control-group
        = f.label :current_password, class: 'control-label', for: 'input-current-password'
        .controls
          = f.password_field :current_password, id: 'input-current-password'
      .control-group
        .controls
          = f.submit "Update", class: 'btn btn-primary'

  %h3 Cancel my account
  %p= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete
  = link_to "Back", :back
