Hello again #{@user.display_name || @user.email}!
= ""

- if @unconfirmed_invitations
  This will be our final call for your unconfirmed invitations.  If we don't have a confirmation of your attendance by *May 5th* we will assume you are "Unable to Attend".  Please either visit our site at http://culver-crosen-wedding.herokuapp.com and login to update your invitations, or simply reply to this email and let us know what to update for you.
  = ""
    
  - @unconfirmed_invitations.each do |u_i|
    = u_i.event.title
    Date: #{l u_i.event.scheduled_date, format: :long unless u_i.event.scheduled_date.nil?}
    Attending (yes/no): _ _ _ _ _ _ 
    Guests (nuclear family and significant others only please): _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
    = ""

- if @confirmed_invitations
  #{@unconfirmed_invitations ? "Additionally, we" : "We"} wanted to verify that your confirmed invitations are filled out properly.  Please review the list below and if you see anything that looks incorrect please either visit our site at http://culver-crosen-wedding.herokuapp.com and login to update your invitations, or simply reply to this email and let us know what to correct for you.  If everything is correct then you have nothing more to do!
  = ""
  
  - @confirmed_invitations.each do |c_i|
    = c_i.event.title
    Date: #{l c_i.event.scheduled_date, format: :long unless c_i.event.scheduled_date.nil?}
    Status: #{c_i.printable_status}
    - if c_i.status_is_attending?
      Guests: #{c_i.status_is_attending? ? c_i.guests.collect{|g| g.display_name}.join(", ") : ""}
    = ""
  - if @guests_differ
    Note: Your guest lists differ across your invitations.  Please review to make sure this is correct.
    = ""
:plain

  We will be locking in our guest totals on *May 5th*.  If you are unable to complete your invitations by that date or have any other questions please contact us by replying to this email!

  Thanks,
  Monica & Jeremy

  If you feel you have received this email in error, please reply to admin@culver-crosen-wedding.mailgun.org