%nav.top-bar
  %ul
    %li.name
      %h1= link_to "Wedding Prototype", root_path
    %li.toggle-topbar
      = link_to "", "#"
      
  - # User Nav Section
  %section
    %ul.right
      %li.divider.hide-for-small
      %li{ class: user_signed_in? ? "has-dropdown" : "" }
        - if user_signed_in?
          %a=current_user.display_name
          %ul.dropdown
            %li
              = link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign In", "#", id: "sign-in-link", class: "sign-in-link", :'data-reveal-id' => "sign-in-modal"

= render_sign_in_modal