.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ :'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
        - 3.times do
          %span.icon-bar
      = link_to "<i class='icon-home' style='vertical-align: middle'></i>".html_safe, root_path, class: 'brand'
      .nav-collapse.collapse
        %ul.nav
          %li.divider-vertical
          %li.dropdown
            = #link_to "Events <b class='caret dropdown-toggle' data-toggle='dropdown'></b>".html_safe, events_path
            = link_to "Events <b class='caret'></b>".html_safe, "#", class: 'dropdown-toggle', :'data-toggle' => 'dropdown'
            %ul.dropdown-menu
              = render_top_nav_events
              - if user_signed_in? && current_user.is_admin?
                %li
                  = link_to "New Event", rails_admin.new_path('event')
          
          %li
            = link_to "Gifts & Donations", "/pages/gifts_and_donations"
          %li
            = link_to "Lodging", "/pages/lodging"
          %li
            = link_to "Transportation", "/pages/transportation"
        %ul.nav.pull-right
          %li
            = link_to "Contact Us", "/pages/contact"
          %li.divider-vertical
          - if !user_signed_in?
            %li.dropdown
              = link_to "Sign In <b class='caret'></b>".html_safe, "#", class: 'dropdown-toggle', :'data-toggle' => 'dropdown'
              %ul.dropdown-menu.top-nav-sign-in
                %li.dropdown.top-nav-sign-in
                  = render_top_nav_sign_in
          - else
            %li.dropdown
              = link_to "#{current_user.display_name} <b class='caret'></b>".html_safe, "#", class: 'dropdown-toggle', :'data-toggle' => 'dropdown'
              %ul.dropdown-menu
                - if current_user.is_admin?
                  %li= link_to "Administration", rails_admin_path
                %li
                  = link_to "Edit my profile", edit_user_registration_path
                %li
                  = link_to "Sign Out", destroy_user_session_path, method: :delete
