%ul.nav-bar
  %li
    = link_to "Home", root_path
  %li.has-flyout
    = link_to "Something", "#"
    = link_to "", "#", class: "flyout-toggle"
    %ul.flyout
      %li
        = link_to "Something Else", "#"
      %li
        = link_to "New Something", "#"
