- @map_div_id = "event_map_#{event.id}"
.panel
  .row
    .twelve.columns
      %h3
        = event.title
        - if user_signed_in? && current_user.is_admin?
          = link_to "Edit", rails_admin.edit_path('event', event.id), class: "label alert", style: "vertical-align:middle"
  .row
    .five.columns
      .row
        .twelve.columns
          %p
            %span.label.radius
              When &nbsp
            <br/>
            = l event.scheduled_date, format: :long unless event.scheduled_date.nil?
          .address
            %p
              %span.label.radius
                Where &nbsp
              <br/>
              = event.location
          %p
            %span.label.radius
              Description &nbsp
            <br/>
            = event.description
    .seven.columns
      %p
        .map{ id: @map_div_id }

:javascript
  window.initializeMap("#{event.location}", "#{@map_div_id}")
