- number_of_columns ||= 6
.row-fluid
  - for event in events
    %div{ class: "span#{number_of_columns}" }
      .hero-unit{style: "padding: 1em 2em;"}
        %h4= link_to event.title, event_path(event)
        %p
          = l event.scheduled_date, format: :long unless event.scheduled_date.nil?
        %p
          = event.location
        %p
          = event.description
