.row
  - for event in events
    %div{ class: "#{number_of_columns || six} columns" }
      .panel
        %h2= event.title
        %p
          = event.scheduled_date
        %p
          = event.location
        %p
          = event.description
