- content_for :header_content do
  .page-header
    .row-fluid
      .span7
        %h1
          Monica & Jeremy's Wedding
          %br
          %small
            Welcome to our site!
        %p
          All of the information you might need should be here; check the links above for different sections
          and be sure to RSVP for your events below.  If you have questions please use our
          %a{href: '/contact'}="contact"
          page.  We hope you can make it and can't wait to see you!
      .span5
        #slideshow.carousel.slide
          %ol.carousel-indicators
            %li.active{ :'data-target' => '#slideshow', :'data-slide-to' => '0' }
            %li{ :'data-target' => '#slideshow', :'data-slide-to' => '1' }
            %li{ :'data-target' => '#slideshow', :'data-slide-to' => '2' }
          .carousel-inner
            .item.active
              = image_tag "slideshow_1_scale.jpg", width: '100%'
            .item
              = image_tag "slideshow_2_scale.jpg", width: '100%'
            .item
              = image_tag "slideshow_3_scale.jpg", width: '100%'
          %a.carousel-control.left{ href: '#slideshow', :'data-slide' => 'prev' }
            &lsaquo;
          %a.carousel-control.right{ href: '#slideshow', :'data-slide' => 'next' }
            &rsaquo;

- if user_signed_in?
  #invitations
- else
  .hero-unit
    %p.lead
      It looks like you're not signed in.  Without signing in we can't show you any of your events.  Please
      click the sign in link in the top-right of the page; if you don't know your login details you can try
      having instructions resent by visiting the
      = link_to "resend confirmation instructions", new_user_confirmation_path
      page.

- if user_signed_in?
  :coffee
    $.ajaxSetup({ cache: false });
    window.router = new WeddingPrototype.Routers.InvitationsRouter(
      columns_per_invitation: 6,
      achievements: #{@vm.achievements.as_json.to_json}
    )
    Backbone.history.start()