- content_for :header_content do
  .page-header.header
    .row-fluid
      .span7
        %h1
          Lodging Information
          .row-fluid
            %small
              Come Visit Us!
      .span5
        = image_tag "portland-night-river.jpg"
.row-fluid
  .span12
    %p.lead
      Lodging and accommodations can be flexible.  We've booked a block of rooms at the Hilton in downtown Portland and have also listed some additional options below.  If you have any questions, please don't hesitate to 
      = link_to "contact", "/contact"
      us.
    .lodging-row.hero-unit.light-padding
      %h2
        The Hilton
      .row-fluid
        .span6
          .description
            We've blocked 15 rooms for two nights (6/7 - 6/8) on a first-come first-served basis so make your plans soon if you want the reduced rate quoted below!
            .row-fluid
              .span10.offset1
                FYI: the Rose Festival will be in full swing and the parade will be going right down an adjacent street on the morning of 6/8.
          .price.lead.light-indent-bottom.light-indent-top
            <b>Price: $119/nt</b>
          .reservation
            = link_to "Reserve Online", "http://www.hilton.com/en/hi/groups/personalized/P/PDXPHHH-60N-20130607/index.jhtml?WT.mc_id=POG"
            = " / "
            %a{href: "tel: 503-284-6756"}
              503-284-6756
          .group-id
            Group ID: 60N
            %small
              (You will need this if reserving by phone!)
        .span6
          = image_tag "hilton-facade.jpg"

.row-fluid.hidden
  .hero-unit
    %h4
      We Have Shuttles!
    %p
      Head to our
      = link_to "travel page", '/pages/travel'
      for details on both our shuttles the day of the ceremony and Portland's public transportation system