.row-fluid
  .span9
    .page-header
      %h1
        Your Invitations
        %br
        %small
          Update the status of all your invitations from this screen
  .span3.text-center
    %h4
      Attendance Completion
    .progress.progress-striped
      %a#attendance-progress-bar.bar{ style: 'width: 30%', :'data-toggle' => 'popover', :'data-placement' => 'bottom', :'data-content' => @vm.achievements_html, :'data-original-title' => "Achievements" }
      %a#attendance-incomplete-bar.bar{ style: 'width: 70%', :'data-toggle' => 'popover', :'data-placement' => 'bottom', :'data-content' => @vm.remaining_tasks_html, :'data-original-title' => "Remaining Tasks" }
.row-fluid 
  #invitations
.row-fluid
  #invitations-html
    .row-fluid
      .span6
        .event-invitation
          .hero-unit.disabled-event
            .row-fluid
              .span7
                %h3.no-margins
                  Welcome Dinner
                  .date
                    %small
                      June 7, 2013 6:00 PM
              .span5
                = render 'shared/status_confirmation'
            %p
              Lorem ipsum and such nonsense
      .span6
        .event-invitation
          .hero-unit.disabled-event
            .row-fluid
              .span7
                %h3.no-margins
                  Scavenger Hunt
                  .date
                    %small
                      June 8, 2013 10:00 AM
              .span5
                = render 'shared/status_confirmation'
            %p
              Lorem ipsum and such nonsense
    .row-fluid
      .span6
        .event-invitation
          .hero-unit.active-event
            .row-fluid
              .span7
                %h3.no-margins
                  Ceremony
                  .date
                    %small
                      June 8, 2013 5:00 PM
              .span5
                = render 'shared/status_confirmation'
            %p
              Lorem ipsum and such nonsense
      .span6
        .event-invitation
          .hero-unit
            .row-fluid
              .span7
                %h3.no-margins
                  Reception
                  .date
                    %small
                      June 8, 2013 6:30 PM
              .span5
                = render 'shared/status_confirmation'
            %p
              Lorem ipsum and such nonsense

:coffee
  $('#guests').hide()
  $('#attending-button').click( -> 
    $('#guests').show()
  )
  $('#not-attending-button').click( ->
    $('#guests').hide()
  )
  $('#attendance-progress-bar').popover({'trigger': 'hover', 'html', 'true'})
  $('#attendance-incomplete-bar').popover({'trigger': 'hover', 'html', 'true'})

  window.invitations_vm = #{@vm.invitations.as_json.to_json}
  window.router = new WeddingPrototype.Routers.InvitationsRouter('collection': #{@vm.invitations.as_json.to_json})
  Backbone.history.start()